In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font",family=font_name)

mpl.rcParams["axes.unicode_minus"]= False

In [2]:
train = pd.read_csv('data/train_train_train_train.csv', index_col = [0], encoding = 'euc-kr')

train.tail()

,gu,dong,exclusive_use_area,year_of_completion,floor,transaction_real_price,hanriver,transaction_year,transaction_month,transaction_date,...,pop_dense,poppop,pop_rank,area_rank,floor_area,river_study,var_1,diff_year,rebuilding,river_re
742280,강동구,강일동,59.72,2011,9,53000,0,2017,11,1,...,17909,440359,11,8,0,9,887.474883,6,0,1
742281,강동구,강일동,59.87,2009,12,53000,0,2017,11,2,...,17909,440359,11,8,9,9,885.251378,8,0,1
742282,강동구,강일동,84.74,2009,3,56500,0,2017,11,2,...,17909,440359,11,8,0,9,666.745339,8,0,1
742283,강동구,강일동,84.74,2009,9,55500,0,2017,11,2,...,17909,440359,11,8,0,9,654.944536,8,0,1
742284,강동구,강일동,84.98,2011,8,63750,0,2017,11,2,...,17909,440359,11,8,0,9,750.176512,6,0,1

In [ ]:
plt.figure(figsize = (20, 7))
# gu_dep = train.sort_values(by = ['dep_shop'], axis = 0, ascending = True)
plt.bar(train['gu'], train['transaction_real_price'], width = 0.7)