In [1]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv('data/train_x_y_gu.csv', index_col = [0])

In [7]:
train['dong'].unique()

array(['신교동', '필운동', '내수동', '인의동', '이화동', '명륜1가', '명륜2가', '창신동', '숭인동',
       '평창동', '무악동', '누상동', '수송동', '익선동', '동숭동', '부암동', '낙원동', '교북동',
       '행촌동', '신영동', '신문로1가', '청운동', '견지동', '사직동', '혜화동', '통인동', '명륜3가',
       '당주동', '구기동', '연건동', '충신동', '옥인동', '장충동2가', '신당동', '순화동', '중림동',
       '만리동1가', '회현동1가', '산림동', '남산동2가', '인현동2가', '묵정동', '흥인동', '충무로4가',
       '을지로5가', '황학동', '장충동1가', '정동', '필동3가', '만리동2가', '예장동', '필동1가',
       '남대문로5가', '회현동2가', '남창동', '오장동', '충무로5가', '후암동', '신창동', '산천동',
       '원효로4가', '효창동', '도원동', '문배동', '한강로2가', '한강로3가', '이촌동', '이태원동',
       '한남동', '서빙고동', '보광동', '동자동', '청파동1가', '용문동', '한강로1가', '청파동3가',
       '동빙고동', '원효로1가', '원효로2가', '청암동', '용산동2가', '용산동5가', '갈월동', '원효로3가',
       '주성동', '신계동', '하왕십리동', '홍익동', '마장동', '사근동', '행당동', '응봉동', '금호동1가',
       '금호동3가', '금호동4가', '옥수동', '성수동1가', '성수동2가', '용답동', '도선동', '송정동',
       '금호동2가', '상왕십리동', '중곡동', '구의동', '광장동', '자양동', '화양동', '군자동', '능동',
       '용두동', '제기동', '전농동', '답십리동', '장안동', '청량리동', '회기동', '휘경동', '이문동',
       '신설동', '면목동', '상봉동', '중화동', '묵동', '망우동', '신내동', '돈암동', '동소문동4가',
       '동소문동7가', '삼선동3가', '삼선동4가', '삼선동5가', '안암동1가', '안암동3가', '보문동6가',
       '보문동3가', '정릉동', '길음동', '종암동', '하월곡동', '상월곡동', '장위동', '석관동',
       '보문동2가', '동소문동5가', '동소문동6가', '삼선동2가', '성북동', '동선동3가', '안암동4가',
       '동선동5가', '동선동4가', '동선동1가', '보문동4가', '성북동1가', '미아동', '번동', '수유동',
       '우이동', '쌍문동', '방학동', '창동', '도봉동', '월계동', '공릉동', '하계동', '상계동',
       '중계동', '수색동', '녹번동', '불광동', '갈현동', '구산동', '대조동', '응암동', '역촌동',
       '신사동', '증산동', '진관동', '충정로3가', '천연동', '영천동', '현저동', '홍제동', '대현동',
       '연희동', '홍은동', '북가좌동', '남가좌동', '북아현동', '창천동', '냉천동', '충정로2가', '미근동',
       '합동', '아현동', '공덕동', '신공덕동', '도화동', '용강동', '토정동', '마포동', '대흥동',
       '염리동', '노고산동', '신수동', '현석동', '창전동', '신정동', '서교동', '동교동', '합정동',
       '망원동', '연남동', '성산동', '중동', '상암동', '상수동', '하중동', '구수동', '목동', '신월동',
       '염창동', '등촌동', '화곡동', '가양동', '마곡동', '내발산동', '방화동', '공항동', '신도림동',
       '구로동', '고척동', '개봉동', '오류동', '궁동', '항동', '가리봉동', '온수동', '천왕동',
       '가산동', '독산동', '시흥동', '영등포동', '영등포동1가', '영등포동7가', '영등포동8가', '여의도동',
       '당산동1가', '당산동2가', '당산동3가', '당산동4가', '당산동5가', '당산동', '도림동', '문래동3가',
       '문래동4가', '문래동5가', '문래동6가', '양평동1가', '양평동2가', '양평동3가', '양평동4가',
       '양평동5가', '양평동6가', '신길동', '대림동', '문래동2가', '영등포동5가', '당산동6가',
       '영등포동4가', '영등포동2가', '영등포동3가', '노량진동', '상도동', '상도1동', '본동', '흑석동',
       '사당동', '대방동', '신대방동', '동작동', '봉천동', '신림동', '남현동', '방배동', '양재동',
       '우면동', '잠원동', '반포동', '서초동', '신원동', '내곡동', '역삼동', '개포동', '청담동',
       '삼성동', '대치동', '논현동', '압구정동', '일원동', '수서동', '도곡동', '세곡동', '자곡동',
       '율현동', '잠실동', '신천동', '풍납동', '송파동', '석촌동', '삼전동', '가락동', '문정동',
       '장지동', '방이동', '오금동', '거여동', '마천동', '명일동', '고덕동', '상일동', '길동',
       '둔촌동', '암사동', '성내동', '천호동', '강일동', '교남동', '효제동'], dtype=object)

In [8]:
han = ['구의동', '광장동', '성수동1가', '성수동2가', '금호동4가',
       '옥수동', '한남동', '보광동', '서빙고동', '이촌동',
       '한강로1가', '한강로2가', '한강로3가', '원효로2가', '용강동', '신수동', '합정',
       '망원동', '상암동', '고덕동', '암사동', '천호동', '풍납동', '잠실동', '청담동', 
       '압구정동', '신사동', '잠원동', '반포동', '흑석동', '노량진동', '여의도동', '당산동6가', '양평동4가', '양평동5가', '양평동6가',
       '염창동', '가양동', '방화동']

In [13]:
len(han)

39

In [16]:
train['dong'].unique()

array(['신교동', '필운동', '내수동', '인의동', '이화동', '명륜1가', '명륜2가', '창신동', '숭인동',
       '평창동', '무악동', '누상동', '수송동', '익선동', '동숭동', '부암동', '낙원동', '교북동',
       '행촌동', '신영동', '신문로1가', '청운동', '견지동', '사직동', '혜화동', '통인동', '명륜3가',
       '당주동', '구기동', '연건동', '충신동', '옥인동', '장충동2가', '신당동', '순화동', '중림동',
       '만리동1가', '회현동1가', '산림동', '남산동2가', '인현동2가', '묵정동', '흥인동', '충무로4가',
       '을지로5가', '황학동', '장충동1가', '정동', '필동3가', '만리동2가', '예장동', '필동1가',
       '남대문로5가', '회현동2가', '남창동', '오장동', '충무로5가', '후암동', '신창동', '산천동',
       '원효로4가', '효창동', '도원동', '문배동', '한강로2가', '한강로3가', '이촌동', '이태원동',
       '한남동', '서빙고동', '보광동', '동자동', '청파동1가', '용문동', '한강로1가', '청파동3가',
       '동빙고동', '원효로1가', '원효로2가', '청암동', '용산동2가', '용산동5가', '갈월동', '원효로3가',
       '주성동', '신계동', '하왕십리동', '홍익동', '마장동', '사근동', '행당동', '응봉동', '금호동1가',
       '금호동3가', '금호동4가', '옥수동', '성수동1가', '성수동2가', '용답동', '도선동', '송정동',
       '금호동2가', '상왕십리동', '중곡동', '구의동', '광장동', '자양동', '화양동', '군자동', '능동',
       '용두동', '제기동', '전농동', '답십리동', '장안동', '청량리동', '회기동', '휘경동', '이문동',
       '신설동', '면목동', '상봉동', '중화동', '묵동', '망우동', '신내동', '돈암동', '동소문동4가',
       '동소문동7가', '삼선동3가', '삼선동4가', '삼선동5가', '안암동1가', '안암동3가', '보문동6가',
       '보문동3가', '정릉동', '길음동', '종암동', '하월곡동', '상월곡동', '장위동', '석관동',
       '보문동2가', '동소문동5가', '동소문동6가', '삼선동2가', '성북동', '동선동3가', '안암동4가',
       '동선동5가', '동선동4가', '동선동1가', '보문동4가', '성북동1가', '미아동', '번동', '수유동',
       '우이동', '쌍문동', '방학동', '창동', '도봉동', '월계동', '공릉동', '하계동', '상계동',
       '중계동', '수색동', '녹번동', '불광동', '갈현동', '구산동', '대조동', '응암동', '역촌동',
       '신사동', '증산동', '진관동', '충정로3가', '천연동', '영천동', '현저동', '홍제동', '대현동',
       '연희동', '홍은동', '북가좌동', '남가좌동', '북아현동', '창천동', '냉천동', '충정로2가', '미근동',
       '합동', '아현동', '공덕동', '신공덕동', '도화동', '용강동', '토정동', '마포동', '대흥동',
       '염리동', '노고산동', '신수동', '현석동', '창전동', '신정동', '서교동', '동교동', '합정동',
       '망원동', '연남동', '성산동', '중동', '상암동', '상수동', '하중동', '구수동', '목동', '신월동',
       '염창동', '등촌동', '화곡동', '가양동', '마곡동', '내발산동', '방화동', '공항동', '신도림동',
       '구로동', '고척동', '개봉동', '오류동', '궁동', '항동', '가리봉동', '온수동', '천왕동',
       '가산동', '독산동', '시흥동', '영등포동', '영등포동1가', '영등포동7가', '영등포동8가', '여의도동',
       '당산동1가', '당산동2가', '당산동3가', '당산동4가', '당산동5가', '당산동', '도림동', '문래동3가',
       '문래동4가', '문래동5가', '문래동6가', '양평동1가', '양평동2가', '양평동3가', '양평동4가',
       '양평동5가', '양평동6가', '신길동', '대림동', '문래동2가', '영등포동5가', '당산동6가',
       '영등포동4가', '영등포동2가', '영등포동3가', '노량진동', '상도동', '상도1동', '본동', '흑석동',
       '사당동', '대방동', '신대방동', '동작동', '봉천동', '신림동', '남현동', '방배동', '양재동',
       '우면동', '잠원동', '반포동', '서초동', '신원동', '내곡동', '역삼동', '개포동', '청담동',
       '삼성동', '대치동', '논현동', '압구정동', '일원동', '수서동', '도곡동', '세곡동', '자곡동',
       '율현동', '잠실동', '신천동', '풍납동', '송파동', '석촌동', '삼전동', '가락동', '문정동',
       '장지동', '방이동', '오금동', '거여동', '마천동', '명일동', '고덕동', '상일동', '길동',
       '둔촌동', '암사동', '성내동', '천호동', '강일동', '교남동', '효제동'], dtype=object)

In [17]:
hanriver = []
for i in train['dong']:
    if i in han:
        hanriver.append(1)
    else:
        hanriver.append(0)
        
hanriver

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [22]:
len(hanriver)

742285

In [24]:
train['hanriver'] = hanriver
train

,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price,gu,x,y,hanriver
0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.82,2002,200801,21~31,2,37500,종로구,126.967867,37.583583,0
1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.17,1973,200801,1~10,6,20000,종로구,126.969340,37.576334,0
2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.74,2007,200801,1~10,6,38500,종로구,126.969724,37.578219,0
3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.39,2003,200801,11~20,15,118000,종로구,126.970544,37.574170,0
4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.43,2004,200801,21~31,3,120000,종로구,126.970461,37.573280,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184014,996,서울특별시,강일동,717,고덕리엔파크2단지,강일동 717 고덕리엔파크2단지,59.72,2011,201711,11~20,9,53000,강동구,127.173087,37.559597,0
1184015,682,서울특별시,강일동,674,강일리버파크3단지,강일동 674 강일리버파크3단지,59.87,2009,201711,21~30,12,53000,강동구,127.175107,37.565517,0
1184016,682,서울특별시,강일동,674,강일리버파크3단지,강일동 674 강일리버파크3단지,84.74,2009,201711,21~30,3,56500,강동구,127.175107,37.565517,0
1184017,680,서울특별시,강일동,665,강일리버파크1단지,강일동 665 강일리버파크1단지,84.74,2009,201711,21~30,9,55500,강동구,127.172024,37.566868,0
1184018,996,서울특별시,강일동,717,고덕리엔파크2단지,강일동 717 고덕리엔파크2단지,84.98,2011,201711,21~30,8,63750,강동구,127.173087,37.559597,0

In [75]:
train['floor'] = np.where(train['floor'] < -1, -1, train['floor'])

In [77]:
train['transaction_year_month'] = train['transaction_year_month'].astype(str)
train['transaction_year'] = train['transaction_year_month'].str[:4].astype(int)
train['transaction_month'] = train['transaction_year_month'].str[4:6].astype(int)
train['transaction_year_month'] = train['transaction_year_month'].astype(int)

In [81]:
train.head()

,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_date,floor,transaction_real_price,gu,x,y,hanriver,transaction_year,transaction_month
0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.82,2002,21~31,2,37500,종로구,126.967867,37.583583,0,2008,1
1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.17,1973,1~10,6,20000,종로구,126.969340,37.576334,0,2008,1
2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.74,2007,1~10,6,38500,종로구,126.969724,37.578219,0,2008,1
3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.39,2003,11~20,15,118000,종로구,126.970544,37.574170,0,2008,1
4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.43,2004,21~31,3,120000,종로구,126.970461,37.573280,0,2008,1

In [91]:
train['transaction_date'] = np.where(train['transaction_date'] == '1~10', 0, train['transaction_date'])
train['transaction_date'] = np.where(train['transaction_date'] == '11~20', 1, train['transaction_date'])
train['transaction_date'] = np.where(train['transaction_date'] == '21~28', 2, train['transaction_date'])
train['transaction_date'] = np.where(train['transaction_date'] == '21~29', 2, train['transaction_date'])
train['transaction_date'] = np.where(train['transaction_date'] == '21~30', 2, train['transaction_date'])
train['transaction_date'] = np.where(train['transaction_date'] == '21~31', 2, train['transaction_date'])

In [94]:
tt = train['transaction_date']

In [97]:
train.head()

,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,floor,transaction_real_price,gu,x,y,hanriver,transaction_year,transaction_month,transaction_date
0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.82,2002,2,37500,종로구,126.967867,37.583583,0,2008,1,2
1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.17,1973,6,20000,종로구,126.969340,37.576334,0,2008,1,0
2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.74,2007,6,38500,종로구,126.969724,37.578219,0,2008,1,0
3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.39,2003,15,118000,종로구,126.970544,37.574170,0,2008,1,1
4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.43,2004,3,120000,종로구,126.970461,37.573280,0,2008,1,2

In [99]:
train.to_csv('data/train_x_y_gu.csv', encoding = 'euc-kr')